

.myComponent {
    font-size: 50px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 180px;
    font-weight: 500;
       
      }
      .Component {
        font-size: 15px;
        font-family: 'Kanit';
        text-align: left;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 100px;
        font-weight: 500;
           
          }




    .objective {
        font-size: 50px;
        font-family: 'Kanit';
        text-align: left;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 100px;
        font-weight: 500px;
          }




   .objectivet1 {
        font-size: 15px;
        font-family: 'Kanit';
        text-align: left;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 100px;
        font-weight: 500;
                       
          }


          .Usage {
            font-size: 50px;
            font-family: 'Kanit';
            text-align: left;
            margin-bottom: 10px;
            margin-top: 20px;
            margin-left: 100px;
            font-weight: 500px;
              }


        .Usage1 {
            font-size: 15px;
            font-family: 'Kanit';
            text-align: left;
            margin-bottom: 10px;
            margin-top: 20px;
            margin-left: 100px;
            font-weight: 500;
                               
                  }


                  .data {
                    font-size: 50px;
                    font-family: 'Kanit';
                    text-align: left;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    margin-left: 100px;
                    font-weight: 500px;
                      }
                      .data1 {
                        font-size: 15px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500;
                      }    
                      .Rights {
                        font-size: 50px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500px;
                          }
                          .Rights1 {
                            font-size: 15px;
                            font-family: 'Kanit';
                            text-align: left;
                            margin-bottom: 10px;
                            margin-top: 20px;
                            margin-left: 100px;
                            font-weight: 500;
                          }


                          .safety{
                            font-size: 50px;
                            font-family: 'Kanit';
                            text-align: left;
                            margin-bottom: 10px;
                            margin-top: 20px;
                            margin-left: 100px;
                            font-weight: 500px;
                      }
                        .safety1 {
                        font-size: 15px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500;
                      }


                      .contact{
                        font-size: 50px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                         margin-top: 20px;
                         margin-left: 100px;
                        font-weight: 500px;
                      }


                      .contact1 {
                        font-size: 15px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500;
                      }
                     .agreement{
                        font-size: 50px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                         margin-top: 20px;
                         margin-left: 100px;
                        font-weight: 500px;
                     }
                     .agreement1 {
                        font-size: 15px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500;
                      }
                      .contact{
                        font-size: 50px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                         margin-top: 20px;
                         margin-left: 100px;
                        font-weight: 500px;
                      }
                     
                      .contact1{
                        font-size: 15px;
                        font-family: 'Kanit';
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        margin-left: 100px;
                        font-weight: 500;
                      }
