.app {
  display: flex;
  padding: 10px;
  height: 100vh; /* ให้ความสูงของ container เท่ากับความสูงของหน้าจอ */
}

.left-panel, .right-panel, .center-panel {
  flex: 1; /* ส่วนแรกและส่วนสุดท้ายจะมี flex 1 (20% ของหน้าจอ) */
}

.center-panel {
  flex: 3; /* ส่วนกลางจะมี flex 3 (60% ของหน้าจอ) */
}

/* เพิ่มสไตล์อื่น ๆ ตามต้องการ */
