.app {
  display: flex;
  padding: 10px;
  height: 100vh;
  overflow-x: hidden;
}

.left-panel, .right-panel, .center-panel {
  flex: 1;
}

.center-panel {
  flex: 3;
}

/* เพิ่มสไตล์อื่น ๆ ตามต้องการ */

/* Media queries สำหรับปรับขนาดที่ต่างกันขึ้นอยู่กับขนาดหน้าจอ */
@media screen and (max-width: 768px) {
  .app {
    flex-direction: column; /* เมื่อหน้าจอเล็กกว่าหรือเท่ากับ 768px ให้แสดงเป็นคอลัมน์ */
  }

  .left-panel, .right-panel, .center-panel {
    flex: auto; /* ปรับ flex เป็น auto เพื่อให้ขยายตามขนาดของ container */
  }
}

/* เพิ่ม media queries เพิ่มเติมตามต้องการ */
