ProductSelection.css
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nanopVA {
  color: #710c04;
}

h1, h2 {
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 700;
}

.productname{
    font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.product-card {
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.product-card:hover {
  background-color: #f5f5f5;
}

.selected {
  border: 2px solid #FFA500;
}
/* Project.css */

.selected-product-table {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff; /* สีพื้นหลังของตาราง */
  border-collapse: collapse;
  margin-top: 20px; /* ระยะห่างของตารางจากข้อมูลด้านบน */
  
}

.table-row {
  font-size: 1.5rem;
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #000000;
}

/* Add more styling as needed */
.product-image {
    max-width: 100%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
  }