/* Form.module.css */

:root {
    --duration: 3s;
    --easing: linear;
    --delay: 0s;
  }
  
  @keyframes shine {
    20%, 100% {
      transform: translateX(150%);
    }
  }
  
  .buttonWave {
    position: relative;
    overflow: hidden;
  }
  
  .buttonWave::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    animation: wave 2s infinite;
  }
  
  @keyframes wave {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  
  /* Center the buttons */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .buttonLine,
  .buttonFacebook,
  .buttonCall {
    width: 400px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  .buttonLine {
    background-color: #00B900;
  }
  
  .buttonFacebook {
    background-color: #0f0be4;
  }
  
  .buttonCall {
    background-color: #ee0000;
  }
  
  .shine {
    transform: skewX(-20deg) translateX(-100%);
    animation: var(--duration) var(--easing) var(--delay) infinite forwards shine;
  }