
/* วิดีโอ 1 */
.convideo video {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 20px auto;  /* ปรับ syntax และเพิ่ม px */
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

/* หมดเงิน */
.product-promotion-container {

    max-width: 100%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 5px;
    text-align: center; 
  }

  .title {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  

.font-family1 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}


/* พอกันที */
.producttext2 {
  font-size: 20px;
  font-family: 'Kanit';
  margin-bottom: 10px;
  text-align: center;
}

.producttext2 {
  font-size: 30px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext3 {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

/*ที่ต้องเสีย*/
.producttext4 {
  font-size: 28px;
  font-family: 'Kanit';
  margin-bottom: 10px;
  text-align: center;
}

.producttext4 {
  font-size: 28px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext5 {
  font-size: 28px;
  color: red;
  font-weight: bold;
}

.productimage{
  width: 80%;
    height: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
.producttext6 {
  font-size: 28px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext7 {
  text-align: center;
  font-size:80px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext8 {
  text-align: center;
  font-size:80px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
/* วิดีโอ 2 */
.con2video video {
  width: 100%;
  height: auto;
  margin: 20px auto;  /* ปรับ syntax และเพิ่ม px */
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.productimage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1030px;
  margin: 0 auto;
}

.font-family {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 120px;
  margin-right: 120px;
  

}
.productimage2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
    width: 100%;
   height: auto;
}

.title2 {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}
.title2-1 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.font-family2 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  
}
.title3 {
  font-size: 40px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}




.font-family3 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  
}
.productimage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
  margin-top: 30px;
}


.font-family4 {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 120px;
  margin-right: 120px;
}
.productimage4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.title4 {
  font-size: 40px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}






.font-family5 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}


.productimage5{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}
.title5 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}




.font-family6 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}
.title6 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}



.font-family7 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}


.title7 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.font-family8 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}

.title8 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}


.productimage6{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.title9 {
  font-size: 40px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.font-family9 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
}
.nanovatext{
  font-size: 87px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  .nanovatext2{
    font-size: 49px;
      font-family: 'Kanit';
      margin-bottom: 10px;
      text-align: center;
      font-weight: bold;
    }

    .font-family10 {
      font-size: 24px;
      font-family: 'Kanit';
      text-align: left;
      font-weight: bold;
      margin-bottom: 10px;
      
    }

    .review-heading{
    text-align: center;
    font-Size: 140px;
    font-weight: bold;
    }
    .imagereview1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
    }
    
    .imagereview1 img {
      width: 80%; 
      margin: 0 auto;
      height: auto;
      margin-bottom: 10px;
      
      
    }

    .imagereview2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
    }
    .imagereview2 img {
      width: 80%; 
      height: auto;
      margin-bottom: 10px;
    }

    .imagereview3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
    }
    .imagereview3 img {
      width: 80%; 
      height: auto;
      margin-bottom: 10px;
    }

    .imagereview4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
    }
    .imagereview4 img {
      width: 80%; 
      height: auto;
      margin-bottom: 10px;
    }

    .imagereview5 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
    }
    .imagereview5 img {
      width: 80%; 
      height: auto;
      margin-bottom: 10px;
    }

    .review-heading2{
      font-Size: 10px;
      font-weight: bold;
      }

      .Testtheproduct{
        text-align: center;
        font-Size: 80px;
        font-weight: bold;
        
        }

        .imagereview4 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
        }

        .imagereview4 img {
          width: 80%; 
          height: auto;
          margin-top: 10px;
        }

        .imagereview5 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
        }

        .imagereview5 img {
          width: 80%; 
          height: auto;
          max-width: 100%; 
          margin-top: 10px;
        }

        .imagereview6 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
        }

        .imagereview6 img {
          width: 80%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
        }

        .imagereview7 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
        }

        .imagereview7 img {
          width: 80%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
        }

        .Testtheproduct2{
          text-align: center;
          font-Size: 50px;
          font-weight: bold;
          }

          .imagereview8 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
          }

          .imagereview8 img {
            width: 80%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }

          .imagereview9 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
          }

          .imagereview9 img {
            width: 80%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }

          .imagereview10 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
          }

          .imagereview10 img {
            width: 80%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }

          .imagereview11 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* หรือกำหนดความสูงตามที่คุณต้องการ */
          }
          .imagereview11 img {
            width: 80%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }





.image-container {
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 80%;
    height: auto;
    margin: 5px auto; 
    display: block;
  }
  

.title {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;

  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    max-width: 80%;
    height: auto;
    margin: 5px auto;
    display: block;
  }
  
  .content {
    
        font-size: 40px;
        font-family: 'Kanit';
        text-align: left;
        margin-bottom: 10px;
        margin-left: 120px;
        margin-right: 100px;
    
  }
  
  .subtitle {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    margin-left: 120px;
    font-weight: bold;
  }
  
  .last-image {
    max-width: 80%;
    height: auto;
    margin: 5px auto; 
    display: block; 
}

  
  .last-content {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 100px;
  }




.additional-title {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    margin-left: 120px;
    font-weight: bold;
  }
  
  .additional-image {
    max-width: 80%;
    height: auto;
    margin: 5px auto; 
    display: block;
  }
  
  .additional-content {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 100px;
  }
  
  

  

.additional-title {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    margin-left: 120px;
    
  }
  
  .additional-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 5px;
  }
  
  .additional-content {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 100px;
  }
  



.additional-content-container {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 100px;
  }
  
  .additional-subtitle {
    font-size: 50px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;

  }
  
  .additional-inner-content {
    font-size: 30px;
    color: black;
  }
  
  .additional-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 5px;
  }
  


  

.additional-content-container {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 100px;
  }
  
  .additional-subtitle {
    font-size: 50px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
  }
  
  .additional-inner-content {
    font-size: 30px;
    color: black;
  }
  
  .additional-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 5px;
  }
  
 

.product-promotion-container {
    font-size: 20px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
  }
  
  .product-promotion-title {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Kanit';
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
  }
  
  .product-promotion-subtitle {
    font-size: 50px;
    color: red;
  }
  
  .product-promotion-description {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-inline: 10px;
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .product-promotion-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  

.nano-va-coffee-container {
    margin-bottom: 5px;
  }
  
  .nano-va-coffee-image {
    max-width: 80%;
    height: auto;
    margin: 5px auto;
    display: block;
  }
  
  .nano-va-coffee-title {
    font-size: 80px;
    font-family: 'Kanit';
    margin-bottom: 20px;
    color: black;
  }
  
  .nano-va-coffee-subtitle {
    font-size: 50px;
    font-family: 'Kanit';
    margin-bottom: 20px;
    color: black;
  }
  
  .nano-va-coffee-tagline {
    font-size: 30px;
    color: red;
  }
  
  .nano-va-coffee-text {
    font-size: 20px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  

.section-container {
    font-size: 20px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
  }
  
  .sub-section-container {
    font-size: 150px;
    font-family: 'Kanit';
    margin-bottom: 20px;
    color: black;
  }
  
  .image-container {
    margin-bottom: 5px;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
  }
  
 

.main-container {
    font-size: 20px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
  }
  
  .review-heading {
    font-size: 150px;
    font-family: 'Kanit';
    margin-bottom: 20px;
    color: black;
  }
  
  .image-container {
    margin-bottom: 5px;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
  }

  
.container {
    font-size: 20px;
    font-family: 'Kanit';
    text-align: center;
    margin-bottom: 10px;
  }
  
  .heading {
    font-size: 150px;
    font-family: 'Kanit';
    color: black;
    margin-bottom: 20px;
  }
  
  .image-container {
    margin-bottom: 5px;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
  }
  
  .small-heading {
    text-align: center;
    font-size: 144px;
    font-family: 'Kanit';
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .promotion-img {
    max-width: 70%;
    height: auto;
  }
  
