/* วิดีโอ 1 */
.convideo video {
  width: 60%;
  height: auto;
  max-width: 1200px;
  margin: 20px auto;  /* ปรับ syntax และเพิ่ม px */
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

/* หมดเงิน */
.product-promotion-container {

    max-width: 80%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 5px;
    text-align: center; 
  }

  .title {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 280px;
    margin-right: 280px;
    font-weight: bold;
  }
  
  

.font-family1 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}


/* พอกันที */
.producttext2 {
  font-size: 20px;
  font-family: 'Kanit';
  margin-bottom: 10px;
  text-align: center;
}

.producttext2 {
  font-size: 30px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext3 {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

/*ที่ต้องเสีย*/
.producttext4 {
  font-size: 20px;
  font-family: 'Kanit';
  margin-bottom: 10px;
  text-align: center;
}

.producttext4 {
  font-size: 30px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext5 {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.productimage{
  max-width: 80%;
    height: auto;
    margin-bottom: 5px;
}
.producttext6 {
  font-size: 30px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext7 {
  font-size:130px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.producttext8 {
  font-size:100px;
  font-family: 'Kanit';
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
/* วิดีโอ 2 */
.con2video video {
  width: 60%;
  height: auto;
  max-width: 1200px;
  margin: 20px auto;  /* ปรับ syntax และเพิ่ม px */
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.productimage{
  width: 75%;
  max-width: 1030px;
  margin: 0 auto;
}

.font-family {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 120px;
  margin-right: 120px;
  font-weight: bold;

}
.productimage2 {
    width: 75%;
    max-width: 1030px;
    margin: 0 auto; 
}

.title2 {
    font-size: 40px;
    font-family: 'Kanit';
    text-align: left;
    margin-bottom: 10px;
    margin-left: 280px;
    margin-right: 280px;
    font-weight: bold;
}

.font-family2 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}
.title3 {
  font-size: 40px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}




.font-family3 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}
.productimage3 {
  width: 75%;
  max-width: 1030px;
  margin: 0 auto; 
}


.font-family4 {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 120px;
  margin-right: 120px;
}
.productimage4{
  width: 75%;
  max-width: 1030px;
  margin: 0 auto;
}
.title4 {
  font-size: 40px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}






.font-family5 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}


.productimage5{
  width: 75%;
  max-width: 1030px;
  margin: 0 auto;
}
.title5 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}




.font-family6 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}
.title6 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}



.font-family7 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}


.title7 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}

.font-family8 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}

.title8 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}


.productimage6{
  width: 75%;
  max-width: 1030px;
  margin: 0 auto;
}
.title9 {
  font-size: 30px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 280px;
  font-weight: bold;
}

.font-family9 {
  font-size: 20px;
  font-family: 'Kanit';
  text-align: left;
  margin-bottom: 10px;
  margin-left: 280px;
  margin-right: 270px;
  font-weight: bold;
}
.nanovatext{
  font-size: 50px;
    font-family: 'Kanit';
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  .nanovatext2{
    font-size: 30px;
      font-family: 'Kanit';
      margin-bottom: 10px;
      text-align: center;
      font-weight: bold;
    }

    .font-family10 {
      font-size: 20px;
      font-family: 'Kanit';
      text-align: left;
      margin-bottom: 10px;
      margin-left: 280px;
      margin-right: 270px;
      
    }

    .review-heading{
    font-Size: 140px;
    font-weight: bold;
    }
    
    .imagereview1 img {
      width: 60%; 
      height: auto;
      max-width: 100%; 
      
    }
    .imagereview2 img {
      width: 60%; 
      height: auto;
      max-width: 100%; 
      margin-top: 30px;
      
    }
    .imagereview3 img {
      width: 60%; 
      height: auto;
      max-width: 100%; 
      margin-top: 50px;
      
    }
    .review-heading2{
      font-Size: 10px;
      font-weight: bold;
      }

      .Testtheproduct{
        font-Size: 120px;
        
        }

        .imagereview4 img {
          width: 40%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
          
        }

        .imagereview5 img {
          width: 40%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
        }

        .imagereview6 img {
          width: 40%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
        }

        .imagereview7 img {
          width: 40%; 
          height: auto;
          max-width: 100%; 
          margin-top: 50px;
        }

        .Testtheproduct2{
          font-Size: 50px;
          font-weight: bold;
          }

          .imagereview8 img {
            width: 40%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }

          .imagereview9 img {
            width: 40%; 
            height: auto;
            max-width: 100%; 
            margin-top: 50px;
          }